{% extends 'base/base.html' %}

{% block title %}Realizar una Reclamación{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    
    <h2>Realizar una Reclamación</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Enviar Reclamación</button>
    </form>

{% endif %}

{% if not user.is_authenticated %}
    <h2>Realizar una Reclamación</h2>
    <p>Para realizar una reclamación debes estar registrado en la web.</p>
    <p>Si ya estás registrado, puedes <a href="{% url 'login' %}">Iniciar Sesión</a>.</p>
    <p>Si no estás registrado, puedes <a href="{% url 'signup' %}">Registrarte</a>.</p>
{% endif %}

{% endblock %}
