{% extends "base/base.html" %}
{% load static %}
{% block title %}ArduEshop{% endblock %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
        </div>
        
        <div class="col-md-4">
            <h1>{{ product.name }}</h1>
            {% if product.category %}

            <div class="mt-3">
                <p>Categoría: {{ product.category }}</p>
            </div>
            {% endif %}
            
            <div class="d-flex justify-content-between mb-2">
                <h2 class="mb-0">{{ product.price|floatformat:2 }} €</h2>
                {% if product.stock > 0 %}
                    <div class="d-flex align-items-center gap-2">
                        <i class="fas fa-check-circle text-success"></i>
                        <h2 class="text-success mb-0">Disponible</h2>
                    </div>
                {% else %}
                    <div class="d-flex align-items-center gap-2">
                        <i class="fas fa-times-circle text-danger"></i>
                        <h2 class="text-danger mb-0">Agotado</h2>
                    </div>
                {% endif %}
            </div>
            
            <form id="add-to-cart-form" action="{% url 'cart:cart_add' product.id %}" method="post">
              {% csrf_token %}
              <div class="input-group mb-3">
                <label class="input-group-text" for="quantity">Cantidad</label>
                <select class="form-select" id="quantity" name="quantity">
                  {% for num in quantity_range %}
                    <option value="{{ num }}">{{ num }}</option>
                  {% endfor %}
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Añadir a la Cesta</button>
            </form>
            <p>{{ product.description }}</p>
        </div>
    </div>
    
    <div class="row mt-4">
      <div class="col-md-12">
        <h3>Da tu opinión sobre el producto</h3>
        <form method="post" action="">
          {% csrf_token %}
          <div class="rating input-group">
              <label class="input-group-text" for="rating">Puntúa este producto</label>
              <div class="form-control">
                  <span class="star" data-rating="1">&#9733;</span>
                  <span class="star" data-rating="2">&#9733;</span>
                  <span class="star" data-rating="3">&#9733;</span>
                  <span class="star" data-rating="4">&#9733;</span>
                  <span class="star" data-rating="5">&#9733;</span>
                  <input type="hidden" name="rating" id="rating">
              </div>
          </div>
          <div class="input-group mt-2">
              <label class="input-group-text" for="comment">Escribe un comentario</label>
              <textarea name="comment" id="mock" class="form-control" rows="5"></textarea>
          </div>
          <button type="submit" class="btn btn-primary mt-3">Enviar opinión</button>
        </form>
      </div>
    </div>
</div>


<!-- Include jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style>
  /* CSS for active stars */
  .rating .star.active {
    color: orange; /* Change this to your desired color */
  }
</style>

<script>
  $(document).ready(function() {
    // Handle star rating selection
    $('.rating .star').click(function() {
      // Remove active class from all stars
      $('.rating .star').removeClass('active');

      // Add active class to clicked star and previous stars
      $(this).addClass('active').prevAll().addClass('active');

      // Set the rating value in the hidden input field
      var ratingValue = $(this).attr('data-rating');
      $('#rating').val(ratingValue);
    });

    // Reset rating on textarea focus
    $('textarea').focus(function() {
      $('.rating .star').removeClass('active');
      $('#rating').val('');
    });
  });
</script>
{% endblock %}
