<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <style>
      /* Apply the font to specific elements */
      body {
          font-family: 'Roboto', sans-serif;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
          font-family: 'Roboto', sans-serif;
      }
  </style>

  {% load static %}
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">ArduEshop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/catalogue">Catálogo</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="#">
                <strong>{{ user.username }}</strong>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/logout">Cerrar Sesion</a>
            </li>
          {% endif %}
          {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/auth/login">Iniciar Sesion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/signup">Registrarse</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/cart">
              <img src="{% static 'img/cart.png' %}" alt="Cart" width="40" height="40">
              <span class="badge bg-secondary">
                {% with total_items=cart|length %}
                  {% if total_items > 0 %}
                    {{ total_items }}
                  {% else %}
                    0
                  {% endif %}
                {% endwith %}
              </span>              
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>