{% extends "base/base.html" %}
{% load static %}
{% block title %}ArduEshop{% endblock %}
{% block content %}

    <style>
        .banner {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("{% static 'background.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        /* Estilos adicionales para centrar y limitar la altura de las imágenes */
        .product-card {
            text-align: center;
            justify-content: center;
        }

        .product-card .card {
            width: 100%;
        }

        .product-card img {
            max-height: 150px;
            width: auto;
        }

        /* Estilos modificados para centrar las tarjetas de productos */
        #showcase {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    </style>

    <div class="banner">
        <div class="text-center text-white">
            <h1 class="display-1">¡Bienvenido a ArduEshop!</h1>
            <h3>Descubre el mundo Arduino</h3>

            <div id="showcase" class="row mt-4 mx-auto">
                {% for product in products %}
                    <div class="col-md-3 mb-4 product-card" data-category="{{ product.category.name }}">
                        <div class="card">
                            <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}">
                            <div class="card-body">
                                <h5 class="card-title mb-0"><a class="text-dark"
                                                               href="/product/{{ product.id }}">{{ product.name }}</a>
                                </h5>
                                <p class="card-text">{{ product.category.name }}</p>
                                <div class="d-flex justify-content-between">
                                    <h6 class="mb-0">{{ product.price }} €</h6>
                                    {% if product.stock > 0 %}
                                        <div class="d-flex align-items-center gap-1">
                                            <i class="fas fa-check-circle text-success"></i>
                                            <h6 class="text-success mb-0">Disponible</h6>
                                        </div>
                                    {% else %}
                                        <div class="d-flex align-items-center gap-1">
                                            <i class="fas fa-times-circle text-danger"></i>
                                            <h6 class="text-danger mb-0">Agotado</h6>
                                        </div>
                                    {% endif %}
                                </div>
                                <form class="add-to-cart-form mt-3" action="{% url 'cart:cart_add' product.id %}"
                                      method="post">
                                    {% csrf_token %}
                                    <div class="d-flex justify-content-between">
                                        <div class="input-group mt-2">
                                            <label class="input-group-text"
                                                   for="quantity_{{ product.id }}">Cantidad</label>
                                            <input type="number" class="form-control" id="quantity_{{ product.id }}"
                                                   name="quantity" min="1" value="1">
                                        </div>
                                        <button type="submit" class="btn btn-success mt-2">Añadir</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="mx-auto" style="max-width: 50%;">
                <!-- Línea divisoria -->
                <hr class="border border-white">
            </div>
        </div>

        <div class="d-flex justify-content-between">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p class="text-center text-white">¿Qué estás buscando?</p>
                <form method="get" action="{% url 'catalogue:search_products' %}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="product_name" placeholder="Nombre del producto"
                               aria-label="Nombre del producto">
                    </div>
                    <div class="input-group mb-3">
                        <select class="form-select" name="product_category" aria-label="Categoría del producto">
                            <option value="" selected>Selecciona una categoría</option>
                            {% for category in categories %}
                                <option value="{{ category }}">{{ category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="min_price" placeholder="Precio mínimo"
                               aria-label="Precio mínimo">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">€</span>
                        </div>
                        <input type="text" class="form-control" name="max_price" placeholder="Precio máximo"
                               aria-label="Precio máximo">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2">€</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center gap-2">
                        <a class="btn btn-outline-light" href="{% url 'product:catalogue' %}">Explorar el catálogo</a>
                        <button type="submit" class="btn btn-outline-light">Buscar</button>
                    </div>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

{% endblock %}
